[Unit]
Description=Telegram FDM Proxy Bot Service
Documentation=https://github.com/Myselfnandha/AeroHub
After=network.target network-online.target graphical-session.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/tg-fdm-proxy start --tray
Restart=always
RestartSec=5
TimeoutStopSec=10
KillMode=process
Environment=PYTHONUNBUFFERED=1
PassEnvironment=DISPLAY WAYLAND_DISPLAY XAUTHORITY DBUS_SESSION_BUS_ADDRESS

[Install]
WantedBy=default.target
